<%= form_with url: trader_symbol_search_path(:symbol) do |form| %>

  <div>
    <%= form.label "Email" %>
    <br>
    <%= form.text_field :symbol%>
  </div>


  <div>
    <%= form.submit %>
  </div>

<% end %>